html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #999;
}

.dashed-border {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  justify-content: center;
  padding: 20px;
  border: 5px dashed #ccc;
}

.dashed-border.on-dragmove {
  border: 5px dashed #aaa;
}

.dashed-border__text {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  font-size: 48px;
  font-weight: bold;
  color: #ccc;
}

.dashed-border__text.on-dragmove {
  color: #aaa;
}

.loading {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.is-hidden {
  display: none;
}