html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: 100%;
  background: #f4ffe8;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f4ffe8), color-stop(40%,#e0f9e3), color-stop(100%,#add9e4));
  background: -webkit-radial-gradient(center, ellipse cover,  #f4ffe8 0%,#e0f9e3 40%,#add9e4 100%);
  background: radial-gradient(ellipse at center,  #f4ffe8 0%,#e0f9e3 40%,#add9e4 100%);
  font-size: 14px;
  color: rgba(0,0,0,0.7);
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  background: rgba(255,255,255,0.2);
}

.l-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 26px;
}

.l-result {
  overflow: auto;
  flex: 1;
}
.l-description {
  display: flex;
  width: 200px;
}
.l-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.description {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
}
.description__contents {
  flex: 1;
  text-align: center;
}
.description__texts {
  line-height: 1.6;
  margin-bottom: 5px;
  color: rgba(0,0,0,0.2);
}
.description__text {
  margin: 5px 0;
  padding: 0;
}
.description__button {
  margin-top: 5px;
  padding: 5px 15px;
  border-radius: 4px;
  background: #FFF;
  border: 1px solid rgba(16, 16, 16, 0.2);
  box-shadow: 0 1px 1px 0 rgba(16, 16, 16, 0.25);
}

.loading {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.is-hidden {
  display: none;
}

.result {
  margin: 10px;
  padding: 0 10px 15px;
  background: rgba(255,255,255,0.2);
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(255,255,255,0.7) inset;
  border: 1px solid rgba(255,255,255,0.5);
}
.result__table {
  position: relative;
  width: 100%;
  table-layout: fixed;
  box-sizing: content-box;
}
.result th {
  padding: 15px 10px 9px;
  color: rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 11px;
}
.result td {
  padding: 6px 10px;
  white-space: nowrap;
  vertical-align: middle;
}
.result__file {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.result__before,
.result__after,
.result__saving {
  width: 40px;
  text-align: right;
}
.result__status {
  width: 16px;
  text-align: center;
}

.toolbar {
  display: table;
  width: 100%;
  height: 26px;
  border-top: 1px solid #cecece;
  box-shadow: 0 1px 1px 0 #e6e6e6 inset;
  background-color: #efefef;
}
.toolbar__cell {
  display: table-cell;
  padding: 5px 10px;
  border-left: 1px solid #7f8386;
  vertical-align: middle;
}
.toolbar__cell:first-child {
  border-left: none;
}

.status__icon {
  margin-right: 0.4em;
}

.unit {
  margin-left: 0.1em;
  font-size: 0.8em;
  font-weight: normal;
}

.result__icon,
.status__icon {
  font-size: 16px;
  color: #505050;
}
.result__icon.fa-check,
.status__icon.fa-check {
  color: #88C100;
}
.result__icon.fa-times-circle,
.status__icon.fa-times-circle {
  color: #FF003C;
}

.on-dragmove {
  background: none;
}
.on-dragmove .description__texts {
  color: rgba(0,0,0,0.3);
}
