html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  height: 100%;
  background: #f4ffe8;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f4ffe8), color-stop(40%,#e0f9e3), color-stop(100%,#add9e4));
  background: -webkit-radial-gradient(center, ellipse cover,  #f4ffe8 0%,#e0f9e3 40%,#add9e4 100%);
  background: radial-gradient(ellipse at center,  #f4ffe8 0%,#e0f9e3 40%,#add9e4 100%);
  font-size: 14px;
  color: #020100;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  background: rgba(248, 246, 247, 0.5);
}

.l-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 26px;
}

.l-results {
  overflow: auto;
  flex: 1;
}
.l-description {
  display: flex;
  width: 200px;
}
.l-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.description {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 10px;
  background: #fff;
  border-left: 1px solid #bcbcbc;
  color: #4b5053;
}
.description__texts {
  flex: 1;
  text-align: center;
  line-height: 1.6;
}
.description__text {
  margin: 5px 0;
  padding: 0;
}
.description__button {
  padding: 3px 15px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid rgba(16, 16, 16, 0.2);
  box-shadow: 0 1px 1px 0 rgba(16, 16, 16, 0.25);
  color: #000;
}

.loading {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.is-hidden {
  display: none;
}

.results {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.results th {
  padding: 15px 15px 9px;
  color: #aaa;
  font-weight: bold;
  font-size: 14px;
}
.results td {
  padding: 6px 15px;
  color: #020100;
  font-size: 16px;
}
.results__file {
  word-break: break-all;
  text-align: left;
}
.results__before,
.results__after,
.results__saving {
  width: 70px;
  text-align: right;
}
.results__status {
  width: 70px;
  text-align: center;
}
.results__icon {
  color: #505050;
}

.toolbar {
  display: table;
  width: 100%;
  height: 26px;
  border-top: 1px solid #cecece;
  box-shadow: 0 1px 1px 0 #e6e6e6 inset;
  background-color: #efefef;
  font-size: 14px;
}
.toolbar__cell {
  display: table-cell;
  padding: 5px 10px;
  border-left: 1px solid #7f8386;
}
.toolbar__cell:first-child {
  border-left: none;
}

.status__icon {
  margin-right: 0.5em;
  color: #505050;
}

.unit {
  margin-left: 0.3em;
  font-size: 0.8em;
  font-weight: normal;
}
